{
	"printWidth": 80,
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.ts",
			"parser": "typescript",
			"singleQuote": true,
			"trailingComma": "all",
			"semi": false
		},
		{
			"files": "*.md",
			"parser": "markdown"
		},
		{
			"parser": "json",
			"files": ".prettierrc,*.json,*.eslintrc",
			"useTabs": true
		}
	]
}
