name: Publish Docs

on:
  push:
    branches:
      - saga

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade --user pip setuptools
          python3 -m pip install --upgrade --user sphinx recommonmark sphinx_rtd_theme rstcheck

      - run: |
          export PATH=$PATH:/home/runner/.local/bin
          rstcheck -r ./

      - run: |
          export PATH=$PATH:/home/runner/.local/bin
          make html

      - name: Publish build
        run: |
          echo "machine github.com login accesskey password ${GITHUB_TOKEN}" > ~/.netrc
          git config --global user.email "actions@example.com"
          git config --global user.name "GitHub Actions"
          cd build/html
          touch .nojekyll
          git init
          git add -A
          git commit -m 'Update documentation'
          git remote add origin https://github.com/${GITHUB_REPOSITORY}.git
          git push -f origin HEAD:gh-pages
